<% if custom_field.new_record? || custom_field.is_computed? %>
  <p><%= form.check_box :is_computed,
                        data: { enables: '#custom_field_formula, #available_cfs' },
                        disabled: !custom_field.new_record? %></p>
  <p><%= form.text_area :formula, rows: 7 %></p>
  <p>
    <%= label_tag l(:label_available_custom_fields) %>
    <%= render_computed_custom_fields_select custom_field %>
  </p>

  <script type="text/javascript">
      (function() {
          var select = document.getElementById('available_cfs');
          if (!select) return;
          select.addEventListener('dblclick', function() {
              var formula = document.getElementById('custom_field_formula');
              if (!formula) return;
              Array.prototype.forEach.call(select.selectedOptions, function(option) {
                  formula.value = formula.value + 'cfs[' + option.value + ']';
              });
          });
      }())
  </script>
<% end %>
